################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/App/Noname/.vs/Noname/v16
/App/Noname/.vs/Noname/DesignTimeBuild/.dtbcache.v2
/App/Noname/.vs/Noname/FileContentIndex/fd663945-304f-47fd-8c41-ea08ce29ee11.vsidx
/App/Noname/.vs/Noname/FileContentIndex/read.lock
/App/Noname/.vs/Noname/v17/.suo
/App/Noname/.vs/Noname/v17/.futdcache.v2
/App/Noname/.vs/ProjectEvaluation/noname.metadata.v5.1
/App/Noname/.vs/ProjectEvaluation/noname.projects.v5.1
